autopep8
bandit
behave==1.2.6
flake8
flask
Flask-RESTful==0.3.9
freezegun
graphviz
isort
mock
numpy
pycodestyle==2.10.0
pyflakes==3.0.1
pygame==2.1.2
pylint
pytest
pytest-cov
PyYAML
requests
safety
setuptools==65.5.1
